@keyframes flyCycle {
  100% {
    background-position: -900px 0;
    background-position-x: -900px;
    background-position-y: 0;
  }
}

@keyframes flyRight {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  5% {
    transform: translateY(2vh) translateX(10vw) scale(0.3);
  }

  10% {
    transform: translateY(4vh) translateX(20vw) scale(0.3);
  }

  15% {
    transform: translateY(4vh) translateX(30vw) scale(0.3);
  }

  20% {
    transform: translateY(2vh) translateX(40vw) scale(0.3);
  }

  25% {
    transform: translateY(0vh) translateX(50vw) scale(0.3);
  }

  30% {
    transform: translateY(-2vh) translateX(60vw) scale(0.3);
  }

  35% {
    transform: translateY(-4vh) translateX(70vw) scale(0.3);
  }

  40% {
    transform: translateY(-5vh) translateX(80vw) scale(0.3);
  }

  45% {
    transform: translateY(-7vh) translateX(90vw) scale(0.1);
  }

  50% {
    transform: translateX(100vw) translateY(-7vh) scale(0.1);
  }

  100% {
    transform: translateX(100vw) translateY(-7vh) scale(0.1);
  }
}

.birds-container {
  width: 100%;
  height: 2rem;
}

.bird {
  background-image: url(../bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  transform: scale(0.6);
  will-change: background-position;
  animation-name: flyCycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird--one {
  animation-duration: 1s;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -2s;
}

.bird-container {
  position: fixed;
  top: 20%;
  left: 0;
  transform: scale(0) translateX(-10vw);
  will-change: transform;

  animation-name: flyRight;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-duration: 15s;
  animation-delay: 1s;
}

.bird-container--two {
  animation-duration: 12s;
  animation-delay: 3s;
}

@media only screen and (min-width: 31.25em) {
  .bird-container--two {
    animation-duration: 30s;
  }

  .bird {
    transform: scale(1);
  }

  .bird-container--one {
    animation-duration: 29s;
  }

}

#sticky-element {
  position: relative;
  /* Initial position */
}

.stick {
  position: fixed;
  /* Stick element to top */
  top: 0;
  width: 100%;
  /* Make sure it takes full width */
  z-index: 1000;
  /* Ensure it appears above other content */
}

.card {
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.card:hover {
  background: rgba(255, 255, 255, 0.37);
}

.select-button {
  transition: .2s ease;
  text-align: left;
  opacity: 90%
}

.select-button:hover, .select-button.active {
  outline: 1px solid white;
}

.select-button::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background: #0f0f0f;
  top: calc(50% - .5rem);
  right: 1rem;

}

.select-button:hover::before, .select-button.active::before {
  background: white;
}

.side-panel {
  transition: margin 1s ease;
  margin-right: 0;
  position: relative
}

.side-panel p {
  margin-bottom: 1rem;
}

.side-panel.minimized {
  margin-right: -40vw;
}

.hide-button {
  position: absolute;
  top: 1rem;
  right: 0;
  width: auto;
  padding: .1rem;
  background-color: #3BCBE1;
  border: 1px solid #B8DCE1;
  border-radius:  10px 0 0 10px;
}

.show-button {
  top: 8rem;
  right: 0;
  position: absolute;
  margin: 0;
  transform: translateX(10rem);
  transition: transform .5s ease;
  width: auto;
  padding: .5rem;
  background-color: #FF5678;
  border: 1px solid #FF7490;
  border-radius: 10px 0 0 10px;
}

.show-button.minimized {
  transform: translateX(0);
}


.open-svg:hover {
  animation: point 1s infinite;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll-button{
  /*border: 2px solid white;*/
  border-radius: 50%;
  opacity: 80%;
  position: absolute;
  top: 70vh;
  right: 2rem;
  animation: downpoint 1s infinite;
}

.scroll-svg{
  transform: rotate(90deg)
}

@keyframes downpoint {
  0% {
    transform: translateY(0) ;
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}


/*.animatedSocials{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  height: 100vh;*/
/*  gap: 4rem;*/
/*}*/

/*.email {*/
/*  transform: rotate(90deg);*/
/*  position: relative;*/
/*  letter-spacing: 4px;*/
/*}*/

/*.icon:after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  width: 5px;*/
/*  height: 100px;*/
/*  background: white;*/
/*}*/

/*.email:after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  background: white;*/
/*  width: 100px;*/
/*  height: 5px;*/
/*  right: -110px;*/
/*  bottom: 10px;*/
/*}*/

/*.icon {*/
/*  position: relative;*/
/*}*/
